{{>header}}
<div class="ui container">
	<h1>TP Note Laura Scelles 2.1</h1>
	<p><b>-- Veuillez vous connecter</b></p>
	
	<div class="ui container">	  
	    <form class="ui large form" modelAttribute="utilisateur" method="POST" >		
		
	      <div class="ui stacked secondary  segment">
	        <div class="two fields">
				<div class="field">
					<label>Login</label>
				  <div class="ui left icon input">
					<i class="user icon"></i>
					<input type="text" path ="login" name="login" placeholder="..." required="required"></input>
				  </div>
				</div>
				
				<div class="field">
					<label>Password</label>
				  <div class="ui left icon input">
					<i class="lock icon"></i>
					<input type="password"  path="password" name="password" placeholder="..." required="required"></input>
				  </div>
				</div>
			</div>
	        <button class="ui fluid large teal submit button">Login</button>
			
	      </div>
	    </form>
	</div>
</div>
{{>footer}}