{{>header}}
<div class="ui container">
	<h1>TP Note Laura Scelles 2.1</h1>
	<p>/index</p>
	
	<div class="ui secondary  menu">
	  <a class="active item" href="/index"> Accueil </a>
	  <a class="item" href="/indexS">Liste scripts</a>
	  <a class="item" >  Ajouter script </a>
	  <div class="right menu">
	      <a class="ui button" href="/login">Deconnexion</a>
	  </div>
	</div>
	
	<div class="ui container">
		<p>Bienvenu {{user.identity}}<p>
		
		<p><b>Information connexion</b></p>
		
		
	</div>
	
</div>
{{>footer}}