{{>header}}
<div class="ui container">
	<br/><h1>TP SpringBoot Laura Scelles 2.1</h1><br/>

	    <form class="ui large form" modelAttribute="utilisateur" method="POST" action="/login">		
		
	      <div class="ui raised very padded text container segment">
	        <div class="two fields">
				<div class="field">
					<label>Login</label>
				  <div class="ui left icon input">
					<i class="user icon"></i>
					<input type="text" path ="login" name="login" value="Root" required="required"></input>
				  </div>
				</div>
				
				<div class="field">
					<label>Password</label>
				  <div class="ui left icon input">
					<i class="lock icon"></i>
					<input type="password"  path="password" name="password" value=""></input>
				  </div>
				</div>
			</div>
	        <button class="ui fluid large teal submit button" type="submit" >Login</button>
			
	      </div>
	    </form>
</div>
{{>footer}}