{{>header}}
<div class="ui container">
	</br><h1>TP Note Laura Scelles 2.1</h1>

	<div class="ui top attached tabular menu">
	  <a class="item" href="/index"> Accueil </a>
	  <a class="active item" href="script">Liste scripts</a>
	  <div class="right menu">
	  	<a class="ui item " href="script/new">Ajouter un script</a>
	    <a class="ui item" href="/logout">Deconnexion</a>
	  </div>
	</div></br>
	<h2>Informations sur vos scripts</h2>
	<div class="ui container">
		<table class="ui green table">
		  <thead>
		    <tr>
				<th>Title</th>
				<th>Date de creation</th>
				<th>Description</th>
				<th></th>
			</tr>
		  </thead>
		  <tbody>
		  {{#scripts}}
		    <tr>
		    	<td>{{title}}</td>
		    	<td>{{creationDate}}</td>
		    	<td>{{description}}</td>
		    	<td>
		    		<a href="script/edit/{{id}}"><button class="circular ui blue icon button">
					<i class="edit icon"></i></button></a>
					<!-- -->
					<!--<a href="script/delete/{{id}}"><button class="circular ui red icon button">
					<i class="delete icon"></i></button></a>-->
				</td>
		    </tr>	    
		  {{/scripts}}
		  </tbody>
		</table>
	</div>
</div>
{{>footer}}

