{{>header}}
<div class="ui container">
	<h1>TP Note Laura Scelles 2.1</h1>
	<p>Liste des scripts</p>
	
	<div class="ui secondary  menu">
	  <a class="item" href="/index"> Accueil </a>
	  <a class="active item" href="script/indexS">Liste scripts</a>
	  <div class="right menu">
	  	<a class="ui inverted blue button" href="/newS">Ajouter un script</a>
	    <a class="ui inverted blue button" href="/login">Deconnexion</a>
	  </div>
	</div>
	<h2>Informations sur vos scripts</h2>
	<div class="ui container">
		<table class="ui inverted blue table">
		  <thead>
		    <tr><th>Title</th>
		    <th>Date de creation</th>
		    <th>Description</th>
		    <th>Content</th>
		    <th>Langage</th></tr>
		  </thead>
		  
		  <tbody class="ui center aligned">
		  {{#scripts}}
		    <tr>
		    	<td>{{title}}------------</td>
		    	<td>{{creationDate}}</td>
		    	<td>{{description}}</td>
		    	<td>{{content}}</td>
		    	<td></td><!--afficher tt les langages-->
		    </tr>	    
		  {{/scripts}}
		  </tbody>
		</table>
	</div>
</div>
{{>footer}}